<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div th:insert="inc/navmenu"></div>
<div class="container">


    <!-- Modal -->
    <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form id="frmAminal" action="animal/updateOrInsert"
                      class="form-horizontal form-bordered" role="form" method="post">
                    <input id="id" type="hidden" class="form-control" name="id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bilgiler</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-mdb-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Ulusal No</label>
                                        <div class="col-md-6 validation">
                                            <input id="ulusalNo" type="text" class="form-control" name="ulusalNo"
                                                   data-validation-rule="{'required':'true','message':'Lütfen boş bırakmayınız!'}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Irk</label>
                                        <div class="col-md-6 validation">
                                            <select id="irk" class="form-control select2me" name="irk"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Çağ</label>
                                        <div class="col-md-6 validation">
                                            <select id="cag" class="form-control select2me" name="cag"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">

                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">İşletme No</label>
                                        <div class="col-md-6 validation">
                                            <input id="isletmeNo" type="text" class="form-control" name="isletmeNo"
                                                   data-validation-rule="{'required':'true','message':'Lütfen boş bırakmayınız!'}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Durumu</label>
                                        <div class="col-md-6 validation">
                                            <input id="durumu" type="text" class="form-control" name="durumu"
                                                   data-validation-rule="{'required':'true','message':'Lütfen boş bırakmayınız!'}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Doğum Tarihi</label>
                                        <div class="col-md-6 validation">
                                            <input type="datetime-local" id="dogumTarihi" name="dogumTarihi"
                                                   class="form-control" placeholder="Detail" value=""/> <!--2011-08-19T13:45:00--><!--2018-01-01T00:00:00.000+00:00-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Doğum Ağırlık</label>
                                        <div class="col-md-6 validation">
                                            <input id="dogumAgirlik" type="text" class="form-control"
                                                   name="dogumAgirlik"
                                                   data-validation-rule="{'required':'true','message':'Lütfen boş bırakmayınız!'}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Açıklama</label>
                                        <div class="col-md-6 validation">
                                        <textarea class="form-control" id="aciklama" name="aciklama"
                                                  rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Ölü/Canlı</label>
                                        <div class="col-md-6 validation">
                                            <select id="stateAnimal" class="form-control select2me"
                                                    name="stateAnimal"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Sütten Kesim Ağırlık</label>
                                        <div class="col-md-6 validation">
                                            <input  type="text" id="skcAgirlik"
                                                   name="skcAgirlik" class="form-control"
                                                   data-validation-rule="{'required':'true','message':'Lütfen boş bırakmayınız!'}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Tartım Tarihi</label>
                                        <div class="col-md-6 validation">
                                            <input type="datetime-local" id="tartimTarihi" name="tartimTarihi"
                                                   class="form-control" placeholder="Detail" value=""/> <!--2011-08-19T13:45:00--><!--2018-01-01T00:00:00.000+00:00-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <label class="control-label col-md-6">Status</label>
                                        <div class="col-md-6 validation">
                                            <select id="status" class="form-control select2me"
                                                    name="status">
                                                <option value="true">Aktif</option>
                                                <option value="false">Silindi</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Kapat
                    </button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-4"><input id="countryTxt" type="text" placeholder="Country" class="form-control"/>
                </div>
                <div class="col-sm-4">
                    <a href="#" id="btnNews" class="btn btn-success float-right" onclick="searchGeneral()">Ara</a>
                </div>
                <!-- Button trigger modal -->
                <div class="col-sm-4">
                    <button
                            id="modalButton"
                            type="button"
                            class="btn btn-primary"
                            data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal"
                    >
                        Ekle
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style=" text-align: center; " class="row">
        <div id="divNews" class="col-sm-12"></div>
    </div>


    <!--<div th:switch="${animals}">
        <h2 th:case="null">No animals yet!</h2>
        <div th:case="*">
            <h2>Hayvanlar : <span th:text="${#lists.size(animals)}"></span> Adet</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">aciklama</th>
                    <th scope="col">dogumAgirlik</th>
                    <th scope="col">dogumTarihi</th>
                    <th scope="col">durumu</th>
                    <th scope="col">isletmeNo</th>
                    <th scope="col">stateAnimal</th>
                    <th scope="col">ulusalNo</th>
                    <th scope="col">cAdi</th>
                    <th scope="col">iAdi</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="animal : ${animals}">
                    <td th:text="${animal.aciklama}"></td>
                    <td th:text="${animal.dogumAgirlik}"></td>
                    <td th:text="${animal.dogumTarihi}"></td>
                    <td th:text="${animal.durumu}"></td>
                    <td th:text="${animal.isletmeNo}"></td>
                    <td th:text="${animal.stateAnimal}"></td>
                    <td th:text="${animal.ulusalNo}"></td>
                    <td th:text="${animal.cAdi}"></td>
                    <td th:text="${animal.iAdi}"></td>
                    <td><a class="btn btn-outline-primary btn-sm" th:href="@{/edit/{id}(id=${animal.id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->


    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/site.js}"></script>
</div>
</body>
</html>
